h1.titulosobre{
    margin-left:50px;
}

p.textosobre{
    margin-left:50px;
    font-family: arial;
    width: 60%;
}

ul {
    list-style-type: square;
    font-family: Arial;
    margin-left:50px;
}

div.column{
    width: 50%;
}

img.logobstrong{
    margin-left:325px;
    margin-top:25px;
}

p.textosobre{
    width: 600px;
}