a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: arial;
}

.texto{
    font-family: arial;
    width: 50%;
}

div.column2{
    width: 50%;
}

a.descricao{
    font-size: 20px;
    font-family: arial;
}
